
.main-blog-text{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}
.main-blog-text h5, .main-blog-text h3, .main-blog-text h2{
    margin-right: 2px !important; 
    padding-top: 0.35em !important;
    padding-bottom: 0.625em !important;
    padding-left: 0.75em !important; 
    padding-right: 0.75em !important;
}
ul{
    list-style: disc;
}
h2{
    font-size: 2em;
    text-align: center;
}
h3{
    font-size: 1.3em;
    
}
h5{
    font-size: 1.2em;
}
.grid-ul{
    display: grid;
    grid-template-columns: auto auto;
}

.wrapper{
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: blue;
    padding: 1em;
    width: 50%;
    margin: auto;
}
.grid_item{
    padding: 2em 5em;
    background-color: aliceblue;
}
.imgs{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;
    font-style: italic;
}
img{
    padding: 1.2em 1em;
}
#grid-img{
    margin: auto;

}
#flex-img{
    height: 20em;
    margin: auto;
}
.breaker{
    border-top: 2px solid black;
}
.wrapper-img{
    margin: auto;
    
}
.expamle-box{
    width: max-content;
    margin: auto;
    border: 2px solid black;
    padding: 1em;
    text-align: center;
    font-style: italic;
    font-weight: bolder;
}
/* nav */
nav .title{
    /* visibility: hidden; */
}
/* Other Blogs */
section.blogs .blog {
    margin: 3em auto !important;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    font-size: smaller;
  }
  section.blogs h3{
          /* font-size: small; */
  }
  section.blogs .blog .blog-container .snippet {
    padding: 0em 2em !important;
    font-size: 0.9em !important;
    text-align: justify !important;
  }
  
  section.blogs .blog .blog-container .blog-img img {
    height: 10em !important;
    width: 15em !important;
  }
  /* footer */
