* {
  padding: 0;
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
}
nav .title {
  margin-left: 50px;
  margin-top: 10px;
  font-size: 2rem;
  text-transform: uppercase;
}
nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  padding: 5px 20px;
  display: block;
  font-size: 1.2rem;
}
nav ul li a:hover {
  color: yellow;
}

header {
  margin-top: 1rem;
}
header .header-part {
  margin: auto;
  text-align: center;
}
header .header-part img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
}

section.work {
  display: flex;
  flex-direction: column;
  padding: 25px 100px;
}
section.work .work-parent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
section.work .work-parent .icon-wrapper:nth-child(odd) {
  width: 50%;
  text-align: center;
  align-self: center;
}
section.work .work-parent .icon-wrapper:nth-child(odd) img {
  height: 100px;
}
section.work .work-parent .blurb-wrapper {
  margin: auto;
  justify-self: center;
  width: 50%;
  padding: 2% 10%;
}
section.work .work-parent:nth-child(even) {
  flex-direction: row-reverse;
}

section.blog {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
section.blog .blog-container {
  padding: 1% 3%;
}
section.blog .blog-container h3 {
  font-weight: bolder;
}
section.blog .blog-container h5 {
  font-size: smaller;
  font-style: italic;
  color: gray;
}

section.hexagon-gallery {
  margin: auto;
  margin-top: 50px;
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
section.hexagon-gallery img {
  width: 100%;
  height: auto;
  display: block;
  height: 265px;
}
section.hexagon-gallery .hex {
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  width: 33.3333333333%;
}

footer {
  background-color: black;
  color: gray;
  position: a;
  bottom: 0;
  left: 0;
}
footer a {
  text-decoration: none;
  color: gray;
}
footer a:hover {
  color: white;
}
footer .rowme {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  padding-top: 10px;
}
footer .rowme .col-large-1 {
  display: flex;
  justify-content: space-between;
  width: 60%;
  padding-top: 5px;
  padding-left: 40px;
  float: left;
}
footer .rowme .col-large-1 .col {
  width: 25%;
}
footer .rowme .col-large-1 ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
footer .rowme .col-large-1 ul li {
  display: block;
}
footer .rowme .col-large-2 {
  width: 40%;
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  padding-left: 40px;
  border-left: 2px solid gray;
}
footer .rowme .col-large-2 .col-left {
  width: 30%;
}
footer .rowme .col-large-2 .col-left .social-icon {
  padding-top: 20px;
  text-align: center;
}
footer .rowme .col-large-2 .col-right {
  width: 80%;
  padding-left: 10px;
}
footer .rowme .col-large-2 .samsung {
  padding: 5px;
  background-color: rgba(128, 128, 128, 0.4);
  border-radius: 7%;
  width: -webkit-max-content;
  width: max-content;
}
footer .rowme .col-large-2 .samsung .fa {
  color: green;
}
footer .rowme .col-large-2 .apple {
  text-align: left;
  padding: 5px;
  margin-top: 15px;
  background-color: rgba(128, 128, 128, 0.4);
  border-radius: 7%;
  width: -webkit-max-content;
  width: max-content;
}
footer .rowme .col-large-2 .apple .fa {
  color: white;
}
footer .rowme .col-large-2 form input {
  width: 80%;
  padding-right: 0;
  margin-right: 0;
}
footer .rowme .col-large-2 form span {
  margin-left: 0;
  padding-left: 0;
}
footer .rowme h3 {
  text-transform: capitalize;
  color: white;
}
footer .rowno {
  padding-left: 40px;
}
footer .rowno h6 {
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
}