nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
nav .title {
  margin-left: 50px;
  margin-top: 10px;
  font-size: 2rem;
  text-transform: uppercase;
}
nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  padding: 5px 20px;
  display: block;
  font-size: 1.2rem;
}
header {
  width: 100%;
  margin-top: 1rem;
}
header .header-part {
  margin: auto;
  text-align: center;
}
header .header-part img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
}

section.work {
  display: flex;
  flex-direction: column;
  padding: 25px 100px;
}
section.work .work-parent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
section.work .work-parent .icon-wrapper:nth-child(odd) {
  width: 50%;
  text-align: center;
  align-self: center;
}
section.work .work-parent .icon-wrapper:nth-child(odd) img {
  height: 100px;
}
section.work .work-parent .blurb-wrapper {
  margin: auto;
  justify-self: center;
  width: 50%;
  padding: 2% 10%;
}
section.work .work-parent:nth-child(even) {
  flex-direction: row-reverse;
}

section.blog {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
section.blog .blog-container {
  padding: 1% 3%;
}
section.blog .blog-container h3 {
  font-weight: bolder;
}
section.blog .blog-container h5 {
  font-size: smaller;
  font-style: italic;
  color: gray;
}