@import url("https://fonts.googleapis.com/css2?family=Potta+One&display=swap");
@media screen and (max-width: 768px) {
  nav .title {
    display: none;
  }

  section.work {
    display: flex;
    flex-direction: column-reverse;
    padding: 25px 10px !important;
    flex-wrap: wrap;
  }
  section.work .work-parent {
    display: flex;
    flex-direction: column !important;
    width: 100%;
    padding: 2px;
  }
  section.work .work-parent .icon-wrapper {
    width: 100% !important;
  }
  section.work .work-parent .blurb-wrapper {
    padding: 0 !important;
    width: 85% !important;
    flex-wrap: wrap;
  }

  section.blogs .blog {
    flex-wrap: wrap !important;
  }
  section.blogs .blog-container {
    padding: 1em 3em !important;
    text-align: justify;
  }

  section.gallery .hexagon-gallery {
    width: 100% !important;
  }
  section.gallery .hexagon-gallery .hex {
    width: 50% !important;
  }

  footer .rowme {
    display: flex;
    flex-direction: column-reverse;
    align-content: space-between;
  }
  footer .rowme .col-large-1 {
    display: flex;
    flex-wrap: wrap !important;
    padding-left: 2px !important;
    width: 100% !important;
  }
  footer .rowme .col-large-2 {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    width: 100% !important;
    padding-left: 0px !important;
  }
  footer .rowme .col-large-2 .col-left {
    display: none !important;
  }
  footer .rowme .col-large-2 .col-left .social-icon {
    margin: auto !important;
  }
  footer .rowme .col-large-2 .col-right {
    width: 100% !important;
  }
  footer .rowno {
    padding-left: 2px !important;
  }
}
* {
  padding: 0;
  margin: 0;
}

body {
  color: #230C33;
  font-size: 1.1em;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #003249;
  background-color: #001C29;
  color: white;
  align-items: center;
}
nav .title {
  font-family: "Potta one", cursive;
  margin-left: 50px;
  font-size: 2rem;
  text-transform: uppercase;
}
nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  align-items: center;
}
nav ul li {
  display: block;
  padding: 15px 20px;
}
nav ul li a {
  text-decoration: none;
  font-size: 1.2rem;
  color: white;
}
nav ul li:hover {
  background-color: yellow;
}

header {
  margin: 6rem auto;
}
header .header-part {
  margin: auto;
  text-align: center;
}
header .header-part img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
}

section.work {
  margin: 6rem auto;
  background-color: rgba(166, 175, 201, 0.2);
  display: flex;
  flex-direction: column;
  padding: 25px 100px;
}
section.work h2 {
  text-align: center;
  font-size: 1.5rem;
}
section.work .work-parent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
section.work .work-parent .icon-wrapper:nth-child(odd) {
  width: 50%;
  text-align: center;
  align-self: center;
}
section.work .work-parent .icon-wrapper:nth-child(odd) img {
  height: 100px;
}
section.work .work-parent .blurb-wrapper {
  margin: auto;
  justify-self: center;
  width: 50%;
  padding: 2% 10%;
}
section.work .work-parent:nth-child(even) {
  flex-direction: row-reverse;
}

section.blogs h2 {
  text-align: center;
  font-size: 1.5rem;
}
section.blogs .blog {
  margin: 6rem auto;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
section.blogs .blog a {
  text-decoration: none;
  color: #230C33;
}
section.blogs .blog a:hover {
  flex-grow: 3em;
  transform: scale(1.1);
  color: red;
  box-shadow: darkblue;
}
section.blogs .blog .blog-container .snippet {
  padding: 1em 2em;
}
section.blogs .blog .blog-container h3 {
  font-weight: bolder;
}
section.blogs .blog .blog-container h5 {
  font-size: smaller;
  font-style: italic;
  color: gray;
}
section.blogs .blog .blog-container .blog-img img {
  height: 15em;
  width: 20em;
}

section.gallery {
  background-color: rgba(166, 175, 201, 0.2);
  padding: 40px 0px;
}
section.gallery h2 {
  text-align: center;
  font-size: 1.5rem;
}
section.gallery .hexagon-gallery {
  margin: 6rem auto;
  margin-bottom: 0;
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
section.gallery .hexagon-gallery img {
  width: 100%;
  height: auto;
  display: block;
  height: 265px;
}
section.gallery .hexagon-gallery .hex {
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  width: 33.3333333333% !important;
}
section.gallery .hexagon-gallery .hex:hover {
  z-index: 6;
  transform: scale(1.5);
}

footer {
  background-color: black;
  color: gray;
  position: a;
  bottom: 0;
  left: 0;
}
footer a {
  text-decoration: none;
  color: gray;
}
footer a:hover {
  color: white;
}
footer .rowme {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  padding-top: 10px;
}
footer .rowme .col-large-1 {
  display: flex;
  justify-content: space-between;
  width: 60%;
  padding-top: 5px;
  padding-left: 40px;
  float: left;
}
footer .rowme .col-large-1 .col {
  width: 25% !important;
}
footer .rowme .col-large-1 ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
footer .rowme .col-large-1 ul li {
  display: block;
}
footer .rowme .col-large-2 {
  width: 40%;
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  padding-left: 40px;
  border-left: 2px solid gray;
}
footer .rowme .col-large-2 .col-left {
  width: 30%;
}
footer .rowme .col-large-2 .col-left .social-icon {
  padding-top: 20px;
  text-align: center;
}
footer .rowme .col-large-2 .col-right {
  width: 80%;
  padding-left: 10px;
}
footer .rowme .col-large-2 .samsung {
  color: gray;
  padding: 5px;
  background-color: rgba(128, 128, 128, 0.4);
  border-radius: 7%;
  width: -webkit-max-content;
  width: max-content;
}
footer .rowme .col-large-2 .samsung .fa {
  color: green;
}
footer .rowme .col-large-2 .apple {
  color: gray;
  text-align: left;
  padding: 5px;
  margin-top: 15px;
  background-color: rgba(128, 128, 128, 0.4);
  border-radius: 7%;
  width: -webkit-max-content;
  width: max-content;
}
footer .rowme .col-large-2 .apple .fa {
  color: white;
}
footer .rowme .col-large-2 form input {
  width: 80%;
  padding-right: 0;
  margin-right: 0;
}
footer .rowme .col-large-2 form span {
  margin-left: 0;
  padding-left: 0;
}
footer .rowme h3 {
  text-transform: capitalize;
  color: white;
}
footer .rowno {
  padding-left: 40px;
}
footer .rowno h6 {
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
}